div{
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
    border: 2px solid gray;
    border-radius: 10px;
}
section{
    font-size: 14px;
    padding: 50px;
    margin: 20px;
}
h3{
    font-size: 18px;
}
.section-one{
    color: green;
    border-bottom: 2px solid rgb(63, 153, 180);
    
}
.section-two{
    color: red;
    border-bottom: 2px solid rgb(166, 211, 42);
}
.section-three{
    color: blue;    
}
